<head>
    <title>Welcome, {{ name }}! - Manga Recs</title>
</head>

{% extends "base.html" %}

{% block content %}
<div id="main">
    <h1 class="title" style="text-transform: none; letter-spacing: 0.01em;">
    Welcome, {{ name }}!
    </h1>

    <article class="post featured">
        <header class="major">
            <span class="date">Your Favorites</span>
        </header>
    </article>

    {% if not no_favorites %}
        <section class="posts">
            {% for i in range(0, len) %} 
                <article>
                    <header>
                        <h2><a href="{{sim_ids[i]}}">{{sim_data[i]}}</a></h2>
                    </header>
                    <a href="{{sim_ids[i]}}" style="width: 300px; display: inline-block;" class="image fit"><img src={{sim_images[i]}} alt="{{sim_data[i]}} cover image" /></a>

                    <form>
                        <input type="submit" onclick="removeFromFavorites('{{sim_data[i]}}', '{{ unfav_url }}')" value="Remove from favorites">

                        <script>
                            function removeFromFavorites(title, post_url) {
                                var params = {
                                    "title": title
                                };
                                var xhttp = new XMLHttpRequest();
                                xhttp.open("POST", post_url, false);
                                xhttp.send(JSON.stringify(params));
                            }
                        </script>
                    </form>
                </article>
            {% endfor %}

        </section>
    {% else %}
    <p style="text-align: center;">You have no favorites 😢</p>
    {% endif %}
</div>
{% endblock %}