<head>
    <title>Search - Manga Recs</title>
    <link href="/static/jquery.flexdatalist.css" rel="stylesheet" type="text/css">
</head>

{% extends "base.html" %}

{% block content %}

<script>
    function evtButton(info) {
        if (info.innerHTML == 'read more') {
            info.innerHTML = 'read less'
            info.previousElementSibling.querySelector('.dots').style.display = 'none';
            info.previousElementSibling.querySelector('.more').style.display = 'inline';
        }
        else {
            info.innerHTML = 'read more'
            info.previousElementSibling.querySelector('.dots').style.display = 'inline';
            info.previousElementSibling.querySelector('.more').style.display = 'none';
        }
    }
</script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/static/jquery.flexdatalist.min.js"></script>
<script>
$('.flexdatalist-json').flexdatalist({
     searchContain: false,
     valueProperty: 'iso2',
     minLength: 1,
     focusFirstResult: true,
     selectionRequired: true,
});
</script>


<div id="main">
    <div class="topcorner">
        <h1>{{ name }}</h1>
        <p>Made by: ({{ netid }})</p>

        
    </div>

    <form class="form-inline global-search">
        <div class="form-group">
            <h2>Instructions</h2>
            <p>Input keywords pertaining to your manga e.g. "guns killing" <br>
                Input manga you want the output manga to be similar to (separated by commas) e.g."Berserk, Tokyo Ghoul" <br>
                You may leave either field blank.
            </p>
            <input id="query" type="text" name="query" class="form-control" placeholder="Keywords...">

            <input type='text'
                placeholder='Manga titles...'
                class='flexdatalist form-control'
                data-min-length='1'
                multiple=''
                list='mangas'
                name='input_list'>

            <datalist id="mangas">
                {% for m in manga_list %}
                <option value="{{m}}">{{m}}</option>
                {% endfor %}
            </datalist>
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>

    {% if sim_data %}
        <article class="post featured">
            <header class="major">
                <span class="date">Search Results</span>
                <p>Keywords: {{output_query}}</p>
                <p>Input list: {{output_list}}</p>
                {% if unmatched_manga %} 
                <p>We could not find the following manga from your manga input list: {{unmatched_manga}}</p>
                {% endif %}
                {% if has_match %}
                <p>Similar Keywords Found: {{sim_keywords}}</p>
                <p style="font-size: 25px;">Top 10 similar mangas:</p>
                <p><span class='highlight1'>Yellow</span> highlights are matches with your keywords.<br>
                    <span class='highlight2'>Green</span> highlights are similar keywords found by word embeddings.<br>
                </p>
            </header>
        </article>

        <section class="posts">
            {% for i in range(0, len) %} 
                <article>
                    <header>
                        <h2><a href="{{ sim_ids[i] }}">{{sim_data[i]}}</a></h2>
                    </header>
                    <a href="{{ sim_ids[i] }}" style="width: 300px; display: inline-block;" class="image fit"><img src={{sim_images[i]}} alt="{{sim_data[i]}} cover image" /></a>
                    <h3>Synopsis:</h3>
                    <p>{{sim_synopses[i]|safe}}</p>
                    {% if insertion_list[i] %}
                    <button class="expand" onclick="evtButton(this)" style="margin-bottom: 2.5rem;">read more</button>
                    {% endif %}
                    {% if pmatch_keyword[i]-pmatch_mlist[i] > 25 %}
                    <p>We suggested this manga because of keyword (or similar keyword) similarity.</p>
                    {% elif pmatch_keyword[i]-pmatch_mlist[i] < -25 %}
                    <p>We suggested this manga because of similarity to input manga.</p>
                    {% else %}
                    <p>We suggested this manga because of a mix between similarity to input manga and keyword similarity.</p>
                    {% endif %}
                    {% if current_user.is_authenticated %}

                    <form>
                        <input type="submit" onclick="addToFavorites('{{sim_data[i]}}', '{{sim_images[i]}}', '{{ sim_ids[i] }}', '{{ fav_url }}')" value="Add to favorites">

                        <script>
                            function addToFavorites(title, img_url, manga_url, post_url) {
                                var params = {
                                    "title": title,
                                    "img_url": img_url, 
                                    "manga_url": manga_url
                                };
                                var xhttp = new XMLHttpRequest();
                                xhttp.open("POST", post_url, false);
                                xhttp.send(JSON.stringify(params));
                            }
                        </script>
                    </form>
                    {% endif %}
                </article>
            {% endfor %}
        
        </section>
        {% else %} 
        <p><b>No match found. This could be because your input word is too rare, or the input manga was not found.</b></p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}