<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            M
            <span style="color: #EA4335; ">A</span>
            N
            <span style="color: #FBBC05; ">G</span>
            A
            -
            <span style="color: #34A853; ">R</span>
            E
            <span style="color: #EA4335; ">C</span>
            S
        </h1>

        <br><br>

        <div class="form-group">
            <input id="input1" type="text" name="search1" class="form-control" placeholder="Your Input Query">
            <input id="input2" type="text" name="search2" class="form-control" placeholder="Your List of Manga">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form>
</body>

</html>