<!DOCTYPE HTML>

<html>
	<head>
		<title>Manga Recs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body class="is-preload">

        <div id="wrapper" class="fade-in">

            <div id="main">
                {% extends "base.html" %}
                
                <div class="topcorner">
                    <h1>{{ name }}</h1>
                    <p>Made by: ({{ netid }})</p>
                </div>

                <form class="form-inline global-search">
                    <div class="form-group">
                        <input id="input" type="text" name="query" class="form-control" placeholder="Keywords...">
                        <input id="input" type="text" name="input_list" class="form-control" placeholder="Manga titles...">
                    </div>
                    <button type="submit" class="btn btn-info"> Go! </button>
                </form>

                {% if sim_data %}
                    <article class="post featured">
                        <header class="major">
                            <span class="date">Search Results</span>
                            <p>Keywords: {{output_query}}</p>
                            <p>Input list: {{output_list}}</p>

                            <p style="font-size: 25px;">Top 10 similar mangas:</p>
                        </header>
                    </article>

                    <section class="posts">
                        {% for i in range(0, len) %} 
                            <article>
                                <header>
                                    <h2><a href="#">{{sim_data[i]}}</a></h2>
                                    <span class="date">Similarity score: {{sim_scores[i]}}</span>
                                </header>
                                <a href="#" style="width: 300px; display: inline-block;" class="image fit"><img src={{sim_images[i]}} alt="{{sim_data[i]}} cover image" /></a>
                                <p>Synopsis:</p>
                                <p>{{sim_synopses[i]}}</p>
                                <ul class="actions special">
                                    <li><a href="#" class="button">Add to favorites</a></li>
                                </ul>
                            </article>
                        {% endfor %}
                    
                    </section>
                {% endif %}
            </div>
        </div>
    </body>
</html>
